* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #000000;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 25px;
  color: rgb(255, 255, 255);
}

.grid-container {
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 600px);
  grid-template-rows: repeat(3, 600px);
  grid-gap: 7px;
  align-items: center;
  justify-content: center;
}

.box {
  cursor: pointer;
  object-fit: cover;
}

.gallery figure img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.gallery figure:hover img {
  transform: scale(1.1);
}

.box-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-5 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-6 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-7 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-8 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-9 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
