* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

:root {
  --bg: #ffffff;
  --icon: "◒";
}

body {
  background-color: var(--bg);
}

.dark {
  --bg: #000000;
  --icon: "◒";
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container-header {
  width: 100%;
  display: flex;
  width: 1821px;
  margin: 0 auto;
}

#imgDark {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
  cursor: pointer;
  width: 50%;
  font-size: 4rem;
  margin: 37px 200px 25px 0;
  text-shadow: 0 0 0.2em #d36690, 0 0 0.2em #d36690, 0 0 0.2em #d36690,
    #d36690 1px -1px, #d36690 -1px 1px, #d36690 1px 1px, #d36690 -1px -1px;
}

#imgDark::before {
  content: var(--icon);
}

h1 {
  margin: 50px 0 25px 200px;
  color: #ffffff;
  text-shadow: 0 0 0.2em #d36690, 0 0 0.2em #d36690, 0 0 0.2em #d36690,
    #d36690 1px -1px, #d36690 -1px 1px, #d36690 1px 1px, #d36690 -1px -1px;
  font-size: 4rem;
  width: 50%;
}

.grid-container {
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 1821px;
  position: relative;
  min-height: 100vh;
}

.grid-container .gallery {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: repeat(7, 350px);
  grid-gap: 7px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.grid-container .gallery .box {
  cursor: pointer;
  object-fit: cover;
  position: absolute;
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.grid-container .gallery .box img {
  opacity: 1;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container .gallery .box:hover img {
  transform: scale(1.1);
}

.gallery div {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: #ffffff;
  text-shadow: 0 0 0.2em #d36690, 0 0 0.2em #d36690, 0 0 0.2em #d36690,
    #00000060 3px 3px 3px, #00000060 3px 3px 3px, #00000060 3px 3px 3px,
    #00000060 3px 3px 3px;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.2s linear;
  transition: visibility 0s, opacity 0.2s linear;
  font-size: 2rem;
}

.gallery figure:hover .text {
  width: 100%;
  padding: 8px 15px;
  visibility: visible;
  opacity: 1;
  font-size: 1.3rem;
  text-align: center;
}

.grid-container .popup-img {
  position: fixed;
  top: 0;
  left: 0;
  background: #0000007c;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: none;
}

.grid-container .popup-img span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #ffffff;
  cursor: pointer;
  z-index: 100;
}

.grid-container .popup-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 820px;
  object-fit: cover;
}

.box-1 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-2 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-3 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

.box-4 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-5 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-6 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.box-7 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-8 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-9 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

.box-10 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box-11 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box-12 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}

.box-13 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 5;
  grid-row-end: 5;
}

.box-14 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}

.box-15 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}

.box-16 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 6;
  grid-row-end: 6;
}

.box-17 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 6;
  grid-row-end: 6;
}

.box-18 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}

.box-19 {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 7;
  grid-row-end: 7;
}

.box-20 {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 7;
  grid-row-end: 7;
}

.box-21 {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
}

/* responsividade */
@media (max-width: 768px) {
  .grid-container .popup-img img {
    width: 95%;
  }
}

@media (max-width: 425px) {
  .grid-container .popup-img img {
    width: 95%;
  }
}

@media (max-width: 375px) {
  .grid-container .popup-img img {
    width: 95%;
  }
}

@media (max-width: 320px) {
  .grid-container .popup-img img {
    width: 95%;
  }
}
